<h4>Sign in</h4>
<form id ="sign" action="/sign_in" method="GET">
<br>email<br>
	<input type="text" name="email" placeholder="email@foo.com" required="required">
	<input type="submit"  value="Sign in">
</form>
<button><a href="/log_out">Log out</a></button>