<div id="prime">

	<div id="tweet">
	<h2>Vamos Twittear</h2>
		<form id ="form_tweet" action="/tweet" method="POST">
		<input  id= "tweet_text" type="text" name="tweet" required="required"  >
		<input type="submit"  value="Twittear">
		</form>
	</div>
	<div id="new_tweet">
	<br>		
	</div>
 
	<div id="handler">
	<h2>A quien quieres buscar:</h2>
		<form action="/fetch" method="POST">
		<input type="text" name="handler" required="required"  >
		<input type="submit"  value="Buscar">

		</form>
	</div>
<button class ="button"><a href="/log_out">Log out</a></button>
</div>

