
<h1> Tweets de <%=@name_handle%></h1> <button class="button"><a href="/">Regresar</a></button>
<%@tweets_user.each do |tweet|%>
	<div id ="list_tweet">
		<%=tweet.tweets%>		
	</div>
<%end%>
<button id="update_tweets" class ="button">Nuevos tweets</button>